<section id="sobre-nosotros">
    <h2>Sobre nós</h2>
    <div class="menu-interno"><a href="#quienessomos"> Quem somos </a>/<a href="#independencia"> Missão e Visão </a>/<a href="#areas"> Áreas de actuação</a></div>
    <p>Acreditamos que uma sociedade em igualdade começa com igual acesso à informação e que o acesso a informações relevantes cria uma cidadania activa.</p>
    <p>A Nossa missão assenta-se no desejo de servir ao bem comum, promovendo a transparência da informação.</p>
    <p>Somos um grupo de activistas, não partidários, que procura melhorar o acesso a informação e promover a tomada de decisões informadas.</p>
    <div id="quienessomos"></div>
    <h3>Quem somos</h3>
    <p class="h4 destacado">Ntatenda é uma iniciativa de media sem fins lucrativos que surge com objectivo de informar o cidadão acerca dos principais eventos que afectam as suas vidas. Ntatenda procura por um lado trazer uma abordagem jornalística sem agenda política, e por outro aumentar o nível de conhecimento sobre os principais eventos.</p>
    <div class="row">
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-equipo">Colaboradores</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-directorio">Parceiros</button></div>
        <div class="col-md-4"> <button class="btn btn-primary btn-lg" data-toggle="modal" data-target=".modal-hanparticipado">Han participado</button></div>
    </div>
    <div class="modal fade modal-equipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-title" id="myModalLabel">Equipo Chile</h4>
                    {% include staff.html %}
                    <h4 class="modal-title" id="myModalLabel">Equipo Brasil</h4>
                    {% include equipobrasil.html %}
                    <h4 class="modal-title" id="myModalLabel">Practicantes, Pasantes y Voluntarias/os</h4>
                    {% include pasantes.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-directorio" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">El Directorio</h4>
                </div>
                <div class="modal-body">
                    {% include staff-board.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-hanparticipado" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Han Participado</h4>
                </div>
                <div class="modal-body">
                    {% include have-participated.html %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="independencia"></div>
    <h3>Missão e Valores</h3>
    <p>Promover espaços de participação política por meios dos medias sociais. </p>
    <p>Permitir o acesso aos medias digitais como meios de participação política.</p>
    <p> Princípios: Voluntariado, Apartidarismo e Activismo.</p>
    <div id="areas">
        <h3>Áreas de Actuação</h3>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Lab</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-lab.svg"></div>
            <div class="col-md-10">Desarrollamos tecnología web para transparentar, fiscalizar y hacernos ciudadanos y ciudadanas partícipes de las decisiones que nos afectan. En el taller digital desarrollamos tecnología de y para la ciudadanía. Innovamos en el desarrollo de aplicaciones web open source, destinadas a promover transparencia y participación cívica en América Latina. </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Incidencia</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-incidencia.svg"></div>
            <div class="col-md-10">Trabajamos para promover e incidir en las políticas de transparencia; fortalecer y ampliar el derecho de acceso a información pública; fomentar y robustecer la participación ciudadana; e incrementar una mayor y mejor rendición de cuentas de los gobiernos latinoamericanos.</div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-2"><h4>Comunidad y redes</h4></div>
        </div>
        <div class="row">
            <div class="col-md-2 hidden-xs"><img src="{{ site.baseurl }}/assets/img/ico-redes.svg"></div>
            <div class="col-md-10">Entendemos que somos parte de un tejido social, y por lo mismo conectamos a ciudadanos y ciudadanas, ONGs y hackers para buscar soluciones tecnológicas a problemas públicos. Nuestra forma de trabajo es colectiva. Ciudadano Inteligente promueve el desarrollo de comunidades y redes entre la sociedad civil, voluntarios, hackers cívicos, sector público, y toda organización que comparta la visión de profundizar democracia con transparencia, participación y tecnología.</div>
        </div>
    </div>
</section>
